<div class="container">
  <div class="quotes-slider">
    <div class="quotes-wrapper">
      @for (quote of quotes; track quote.id) {
        <div
          class="quote-slide"
          [class.active]="currentIndex() === $index"
          [class.prev]="prevIndex() === $index"
        >
          <blockquote class="quote-text">
            <strong>{{ quote.text }}</strong>
          </blockquote>
          <cite class="quote-author">{{ quote.author }}</cite>
        </div>
      }
    </div>

    <div class="dots-navigation">
      @for (quote of quotes; track quote.id) {
        <button
          type="button"
          class="dot"
          [class.active]="currentIndex() === $index"
          (click)="goToSlide($index)"
          [attr.aria-label]="'Vai alla citazione ' + ($index + 1)"
        ></button>
      }
    </div>
  </div>
</div>
