@use "./../../../styles.scss" as color;

.top-header {
    font-size: 0.9rem !important;
    background-color: color.$primary-color;
    border-bottom: 1px solid #e0e0e0;
    padding: 6px 0;
}

.contact-link {
    color: color.$secondary-color;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    transition: color.$transition;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    i {
        margin-right: 5px;
        color: color.$secondary-color;
        transition: color.$transition; 
    }


    &:hover {
        text-shadow: none;

        color: color.$button;

        i {
            color: color.$button
        }
    }

}

.btn-appointment {
    background-color: color.$button;
    color: color.$secondary-color;
    border: none;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    transition: color.$transition;
    white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);


    &:hover {
        background-color: color.$buttonHover;
        font-weight: 700;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #fff;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(74, 144, 164, 0.3);
    }
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
