@use "./../../../styles.scss" as color;

.top-header {
    font-size: 0.9rem !important;
    background-color: color.$primary-color;
    border-bottom: 1px solid #e0e0e0;
    padding: 6px 0;
}

.contact-link {
    color: color.$secondary-color;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    transition: color.$transition;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    i {
        margin-right: 5px;
        color: color.$secondary-color;
        transition: color.$transition; 
    }


    &:hover {
        text-shadow: none;

        color: color.$button;

        i {
            color: color.$button
        }
    }

}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
