@use "./../../../styles.scss" as *;

.privacy-container {
//   max-width: 900px;
  margin: 0 auto;
  padding: 3rem 1rem;
//   background-color: $secondary-color;
  border-radius: 0.75rem;
  color: $text-dark;
  line-height: 1.8;

  h1 {
    color: $button-color;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    transition: $transition;
  }

  h2 {
    color: $primary-color;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p,
  li {
    font-size: 1.125rem; // ~18px
    color: $text-dark-gray;
  }

  ul {
    padding-left: 1.2rem;
    list-style: disc;
  }

  a {
    color: $button-color;
    text-decoration: none;
    font-weight: 500;
    transition: $transition;

    &:hover {
      color: $buttonHover;
      text-decoration: underline;
    }
  }

  .footer {
    text-align: center;
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px dashed $buttonHover;
    font-size: 1rem;
    color: $text-gray;
  }
}
