@use "./../../../styles.scss" as color;

.btn-appointment {
    background-color: color.$button;
    color: color.$secondary-color;
    border: none;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    transition: color.$transition;
    white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: color.$buttonHover;
        font-weight: 700;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #fff;
    }
}
