// Variables
$primary-color: #91d0cc;
$secondary-color: #f8f9fa;
$button: #4ab0a9;
$buttonHover: #D9BE93;
$text-dark: #333;
$text-gray: #787878;
$text-dark-gray: #444444;

$transition: all 0.3s ease;


body {
    font-family: "Mulish", "Muli", sans-serif !important;
}

.page {
    min-height: 130vh;
}
